:root {
    --background-color: #ebf8ff;
    --primary-green: #48bb78;
    --secondary-green: #c6f6d5;
    --primary-red: #e53e3e;
    --secondary-red: #fed7d7;
    --font-family: "JetBrains Mono";
}

body {
    background-color: var(--background-color);
    color: black;
}
